.contact-body{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.contact-container{
    padding: 2%;
    text-align: start;
    max-width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.location-button{
    background-color: #007bff;
    border: 2px solid #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none!important;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 1%;
    transition-duration: 0.4s;
}
.location-button:hover{
    color: #fafafa;
    background-color: #0069d9;
    border-color: #0062cc;
}
.div-location{
    display: flex;
    justify-content: center;
}
.contact-image{
    width: 100%;
    max-height: 60vh;
    margin-top: 2px;
}
.colored-box{
    margin: 1%;
    padding: 1%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #fafafa;
    border-radius: 15px 15px;
    box-shadow: 1px 1px 80px -39px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 80px -39px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 80px -39px rgba(0,0,0,0.75);
}

@media (min-width: 300px){
    .colored-box{width: 80%;}
}
@media (min-width: 1100px){
    .colored-box{width: 45%;}
}