/* estilos generales */
body{
    margin: 0;
}
.body-color{
    background-color: #b5ecff;
}
header{
    margin: 0;
    text-align: center;
}
.h1-fonter, .h2-fonter, .h3-fonter{
    color:#3d3d3d;
    font-family: "Rubik", sans-serif;
}
p, td, th, li{
    color:#3d3d3d;
    font-family: "Montserrat", sans-serif;
}

/* whatsapp fab */
.fab {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transition: transform 0.2s ease-in;
  }
.fab:hover{
    transform: scale(1.1);
    color: #FFF;
}
.wpp-fab {
    margin-top: 16px;
}

/* media queries */
@media (min-width: 300px){
    .h1-fonter{font-size: 1.5rem;}
    p{font-size: 0.8rem;}
}
@media (min-width: 360px){
    .h1-fonter{font-size: 1.5rem;}
    p{font-size: 0.8rem;}
}
@media (min-width: 600px){
    .h1-fonter{font-size: 2rem;}
    p{font-size: 1rem;}
}